.jumbotron {
    background-color:cornflowerblue;
    color: white;
    margin-top: 45px;
}

/* .btn{
    background-color: azure;
} */

footer {
    padding: 10px 10px 0 10px;
    background-color: cornflowerblue;
    margin-bottom: 0px;
    margin-top: 15px;
    color: white;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-visualizar {

    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 8px;
}